<a href="/signup">Sign Up</a>
<h1>Login here to view your current workout program</h1>
<form action="/login" method="POST">
  <label for="username">Username:</label><input type="text" name="username" value="Username">
  <label for="password">Password:</label><input type="text" name="password" value="Password">
  <input type="submit" name="submit" value="Login">
</form>
