<h3>Your exercises for today's workout, <%= @user.username %> </h3>
<br>
<% @exercises.each do |e| %>
<h4>Exercise Name: <%= e.name %> </h4>
<p>Repetitions= <%= e.repetition %> </p>
<p>Sets= <%= e.sets %> </p>
<% end %>
