<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<div class="jumbotron">
  <div class="container">
<h1>Welcome to Your Daily Workout Program</h1>
<h4>Please signup or login to add exercises or view your
  program</h4>
  </div>
</div>
