<!DOCTYPE html>
<html>
<head>
  <title>Your daily workout program</title>
</head>
  <body>
      <%= yield %>
      <footer class="branding">
      <small>&copy; 2017 <strong>WorkoutProgram</strong></small>
        </footer>
  </body>
</html>
