<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your daily workout program</title>
  <link href="/css/boostrap.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style  type="text/css">
  body {
    background-image:url('/img/bigstock.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: right;
  }

  .navbar-inverse a {
     color: #808080;
     font-size: 25px;
     padding-left: 30px;
     padding-right: 30px;
   }

  .navbar-inverse a:hover {
    text-decoration: none;
    color: white;
  }

  .navbar-inverse a {
     color: #808080;
     font-size: 25px;
     padding-left: 30px;
     padding-right: 30px;
   }

   .buttons a {
     text-decoration: none;
     color: black;
   }

   .row {
     padding-top: 20px;
   }

   .table .active {
     font-size: 15px;
   }


  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <% !!if logged_in? %>
    <a href="/exercises">View Program</a>
    <a href="/exercises/new"> Create Exercise</a>
    <a href="/logout"> Log Out </a>
    <% else %>
    <a href="/signup">Sign-Up</a>
    <a href="/login">Login</a>
    <%end %>
  </div>

  </nav>
  <div class="container">
    <% if !@error_message.nil? %>
    <div class="alert alert-warning">
      <%= @error_message %>
    </div>
    <% end %>
    <%= yield %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <footer class="branding">
      <small>&copy; 2017 <strong>WorkoutProgramApp</strong></small>
    </footer>
  </body>
  </html>
