<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Edit Exercise</h1>
<form action="/exercises/<%=@exercise.id%>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="patch">
   <ul>
     <p>Exercise name</p><input type="text" name="name" value="<%=@exercise.name%>">
     <p>Repetition</p><input type="number" name="repetition" value="<%@exercise.repetition%>">
     <p>Sets</p><input id="sets" type="number" name="sets" value="<%=@exercise.sets%">
     <input type="submit" name="submit" value="Edit Exercise">
   </ul>
</form>
