<h1>Edit Exercise</h1>
<form action="/exercises/<%=@exercises.id%>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%=exercise.name%>">
  <input type="text" name="reptition" value="<%@exercise.repition%>">
  <input id="sets" type="text" name="sets" value="<%=@exercise.sets%">
  <input type="submit" name="submit" value="Edit Exercise">
</form>
