<h1>Add a new exercise to your program</h1>
<form action="/exercises" method="POST">
  <label for="name">Name:</label><input type="text" name="name">
  <br>
</br>
  <label for="repitition">Repition:</label><input type="text" name="reptition">
  <br>
  </br>
  <label for="sets">Sets:</label><input type="text" name="sets">
  <br>
  </br>
  <input type="submit" name="submit" value="Add Exercise">
</form>
