<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Add a new exercise to your program</h1>
<form action="/exercises" method="POST">
  <label for="name">Name:</label><input type="text" name="name">
  <br>
  </br>
  <label for="repetition">Repetition:</label><input type="number" name="repetition">
  <br>
  </br>
  <label for="sets">Sets:</label><input type="number" name="sets">
  <br>
  </br>
  <label for="weight">Weight(light, moderate, heavy):</label><input type="text" name="weight">
  <br></br>
  <input type="submit" name="submit" value="Add Exercise">
</form>
