<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Add a new exercise to your program</h1>
<form action="/exercises" method="POST">
  <div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" name="name">

  <label for="repetition">Repetition:</label>
  <input type="number" class="form-control" name="repetition">

  <label for="sets">Sets:</label>
  <input type="number" class="form-control" name="sets">

  <label for="weight">Weight(light, moderate, heavy):</label>
  <input type="text" class="form-control" name="weight">

  <button type="submit" class="btn btn-primary" value="Add Exercise">Add Exercise</button>
</div>
</form>
